#box1{
    font-family: fantasy;
    position: absolute;
    left: 40%;
    top: 15px;
    height: 5%;
    width: 25%;
    padding: 10px;
    text-align: center;
    border: 7px solid black;
}
#box2{
     font-family: fantasy;
    position: absolute;
    left: 40%;
    top: 15px;
    height: 5%;
    width: 25%;
    border: 5px solid red;
    padding: 10px;
    text-align: center;
    
}
#snowman{
    height:15%;
    width: 13%;
    position: absolute;
    left: 50%;
    top: 83%;
}
#ground{ 
    position: absolute;
    background-image: url("http://www.freeiconspng.com/uploads/ice-png-12.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 5%;
    top: 95%;
}
#fire{
    position: absolute;
    height: 25%;
    width: 15%;
    left:50%;
    top: 20%;
    
}